<h2>Registrar-se</h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        
        <%= hidden_field_tag :invite_token, @token if @token %>
        
        <div class="field">
          <%= f.label :nome %><br/>
          <%= f.text_field :nome, autofocus: true, class: 'form-control' %>
        </div>

        <div class="field">
          <%= f.label :email %><br/>
          <%= f.email_field :email, autofocus: true, class: 'form-control'  %>
        </div>

        <div class="field">
          <%= f.label :password, "Senha" %>
          <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> caracteres no mínimo</em>
          <% end %><br/>
          <%= f.password_field :password, autocomplete: "off", class: 'form-control'  %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, "Confirmação da senha" %><br/>
          <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
        </div>

        <div class="actions">
          <%= f.submit "Registrar", class: 'btn btn-default form-control'  %>
        </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
