%p
  %b Nome:
  = @organizacao.nome
%p
  %b Descricao:
  = @organizacao.descricao
%p
  %b Logo:
  = image_tag @organizacao.picture.url if @organizacao.picture?

= link_to 'Edit', edit_organizacao_path(@organizacao)
\|
= link_to 'Back', organizacoes_path
