%h1 Papéis

= form_tag '/admin/trocar_papel', remote: true, id: "form_trocar_papel"  do
  %table{:class => "table table-striped"}
    %tr
      %th Usuário
      %th Papel
      %th Avaliado
    - @users.each do |user|
      %tr
        %td{:class => "col-md-2"}
          = user.email
        %td{:class => "col-md-2"}
          = select_tag "user[#{user.id}][papel]", options_for_select([['QA', 'QA'], ['SEPG', 'SEPG']], user.papel)
        %td{:class => "col-md-2"}
          = check_box_tag "user[#{user.id}][avaliado]", "sim", user.avaliado



  = submit_tag "Salvar"
