= simple_form_for @projeto, html: { class: 'form-horizontal' }  do |f|
    = f.input :nome
    = f.input :desc
    = f.association :users
    = f.button :submit, class: 'btn btn-default form-control'
