= semantic_form_for @projeto do |f|
  = f.inputs do
    = f.input :nome
    = f.input :desc

    = f.semantic_fields_for :users do |user|
      = render 'user_fields', f: user
      = link_to_add_association '+', f, :users, class: "btn-xs btn-success"


  = f.actions do
    = f.action :submit, label: "Criar", :as => :input
