%h1 Projetos

%table{:class => "table table-striped"}
  %thead
    %tr
      %th Nome
      %th Desc
      %th Responsável

  %tbody
    - @projetos.each do |projeto|
      %tr
        %td= projeto.nome
        %td= projeto.desc.truncate(50, separator: /\s/) rescue ''
        %td= projeto.responsavel
        %td= link_to 'Visualizar', projeto, class: 'btn btn-info'
        %td= link_to 'Editar', edit_projeto_path(projeto), class: 'btn btn-primary'
        %td= link_to 'Excluir', projeto, :method => :delete, :data => { :confirm => 'Deseja realmente exlcuir o projeto?' },
          class: 'btn btn-danger'

%br

= link_to 'Novo Projeto', new_projeto_path
