%h1 Projetos

%table
  %thead
    %tr
      %th Nome
      %th Desc
      %th Responsável

  %tbody
    - @projetos.each do |projeto|
      %tr
        %td= projeto.nome
        %td= projeto.desc
        %td= projeto.responsavel
        %td= link_to 'Visualizar', projeto
        %td= link_to 'Editar', edit_projeto_path(projeto)
        %td= link_to 'Excluir', projeto, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'Novo Projeto', new_projeto_path
