%p
  %b Nome:
  = @projeto.nome
%p
  %b Descrição:
  = @projeto.desc
%p
  %b Responsáveis:
  - @projeto.users.each do |user|
    = user
    %br

= link_to 'Editar', edit_projeto_path(@projeto)
\|
= link_to 'Voltar', projetos_path
