= semantic_form_for @nao_conformidade do |f|
  = f.inputs do
    = f.input :descricao, size: "60x12"
    = f.input :origem, size: "12x12"
    = f.collection_select :checklist, @checklists, :id, :identificacao, { include_blank: "Escolha a Checklist" }
    = select_tag(:item_id, '')
    = f.input :prazo
    = f.input :responsavel
    = f.action :submit, :as => :input, :label => "Registrar"
