= semantic_form_for @nao_conformidade do |f|
  = f.inputs do
    = f.input :descricao, size: "60x12"
    = f.input :origem, size: "12x12"
    = f.collection_select :aplicacao_id, @aplicacoes, :id, :checklist, { include_blank: "Escolha a Checklist" }
    = f.collection_select :item_id, (@nao_conformidade.checklist.itens rescue []), :id, :descricao
    = f.collection_select :user_id, (if @nao_conformidade.user;[@nao_conformidade.user];else [];end), :id, :nome
    = f.input :prazo
    = f.action :submit, :as => :input, :label => "Registrar"
