= simple_form_for @nao_conformidade do |f|
  = f.input :descricao, size: "6"
  = f.input :origem, size: "6"
  = #label_tag 'aplicacao_id', "Checklist Aplicada"
  = #f.collection_select :aplicacao_id, @aplicacoes, :id, :checklist, { include_blank: "Escolha a Checklist" }
  = f.association :aplicacao, collection: Aplicacao.find_all_by_organizacao(current_user.organizacao), prompt: "Escolha a Checklist"
  = label_tag  'item_id', "Item"
  = #f.collection_select :item_id, (@nao_conformidade.checklist.itens rescue []), :id, :descricao
  = f.association :item, collection: (@nao_conformidade.checklist.itens rescue [])
  = #label_tag  'user_id', "Responsável"
  = f.association :user, collection: (if @nao_conformidade.user;[@nao_conformidade.user];else [];end)
  = f.input :prazo, as: :date_time_picker, input_html: { placeholder: 'Selecione uma data para o prazo máximo de resolução da não conformidade' }
  = f.button :submit, 'Registrar', class: "btn btn-default btn-lg btn-block"
