%h1 Não Conformidades
%span{class: "glyphicons glyphicons-plus-sign" }
- if current_user.qa?
  %br
  = link_to 'Registrar Não Conformidade', new_nao_conformidade_path, class: 'btn btn-success'
= form_tag ({ action: :salvar_status }) do
  %table{:class => "table table-striped"}
    %thead
      %tr
        %th Descrição
        %th Checklist
        %th Item
        %th Status
        %th Data de Registro
        %th Prazo
    %tbody
      - @nao_conformidades.each do |nao_conformidade|
        - class_row = Date.today > nao_conformidade.prazo_data.to_date ? 'warning' : ''
        %tr{class: class_row}
          %td= nao_conformidade.descricao
          %td= nao_conformidade.aplicacao
          %td= nao_conformidade.item
          %td
            = select_tag "nao_conformidades[#{nao_conformidade.id}][status]", options_for_select((current_user.avaliado? ? %w[Aberta Resolvendo Finalizada] : %w[Aberta Resolvendo Finalizada Concluída]), nao_conformidade.status)
          %td= nao_conformidade.created_at.strftime("%d/%m/%Y")
          %td= nao_conformidade.prazo_data
          - if current_user.qa?
            %td= button_tag 'Alertar Responsável', { autocomplete: 'off', type: 'button', :'data-complete-text' => "Enviando...", onclick: "alertarResponsavel(#{nao_conformidade.user_id}, #{nao_conformidade.id}); $(this).button('complete');", class: 'btn btn-warning'}
          %td= link_to 'Visualizar', nao_conformidade, class: 'btn btn-info'
          - if current_user.qa?
            %td= link_to 'Editar', edit_nao_conformidade_path(nao_conformidade), class: 'btn btn-primary'
          %td= link_to 'Excluir', nao_conformidade, class: 'btn btn-danger', :method => :delete, :data => { :confirm => 'Tem certeza que deseja excluir?' }

  = submit_tag 'Salvar', class: 'btn btn-default btn-lg btn-block'
