%p
  %b Descrição:
  = @nao_conformidade.descricao
%p
  %b Origem:
  = @nao_conformidade.origem
%p
  %b Prazo:
  = @nao_conformidade.prazo
%p
  %b Checklist:
  = @nao_conformidade.aplicacao
%p
  %b Item:
  = @nao_conformidade.item

%p
  %b Responsável:
  = @nao_conformidade.responsavel

= link_to 'Editar', edit_nao_conformidade_path(@nao_conformidade)
\|
= link_to 'Voltar', nao_conformidades_path
