<%= simple_form_for(@checklist) do |f| %>
  <div class="field">
    <%= f.input :identificacao %>
  </div>
  <div class="field">
    <%= f.input :fase %>
  </div>

  <div id="item">
    <%= f.simple_fields_for :itens do |item|%>
      <%= render 'item_fields', f: item %>
    <% end %>
  </div>
  <div class="actions">
  <%= f.button :submit, "Definir", class: "btn btn-primary" %>
  <%= link_to_add_association '+', f, :itens, class: "btn-xs btn-success" %>
  </div>
<% end %>
