%div{ class: 'nested-fields list-group-item' }
  = f.input :descricao

  = f.input :produto, as: :boolean

  = f.input :processo, as: :boolean

  = f.input :ordem, as: :integer

  = link_to_remove_association image_tag('rubbish-bin.svg', size: '30x30'), f, class: "btn-xs top-right-corner"
