.nested-fields
  = f.input :descricao

  = f.input :produto, as: :boolean

  = f.input :processo, as: :boolean

  = f.input :ordem, as: :integer

  = link_to_remove_association "-", f, class: "btn-xs btn-danger"
