%p#notice
  = notice

%h1 Aplicação de Checklist

%p
  %strong Identificação:
  = @checklist.identificacao

%p
  %strong Fase:
  = @checklist.fase
= simple_form_for(@aplicacao) do |f|
  = f.association :projeto, collection: Projeto.find_all_by_organizacao(current_user.organizacao)
  = f.association :checklist, as: :hidden, :input_html => { :value => params[:id] }
  = f.input :prazo, as: :date_time_picker, input_html: { placeholder: 'Selecione uma data para o prazo máximo de aplicação' }
  = f.button :submit, "Aplicar", class: "btn btn-default form-control"