<p id="notice"><%= notice %></p>

<h1>Checklists</h1>

<table>
  <thead>
    <tr>
      <th>Identificação</th>
      <th>Fase</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @checklists.each do |checklist| %>
      <tr>
        <td><%= checklist.identificacao %></td>
        <td><%= checklist.fase %></td>
      <td><%= link_to 'Visualizar', checklist %></td>
        <td><%= link_to 'Editar', edit_checklist_path(checklist) %></td>
        <td><%= link_to 'Excluir', checklist, method: :delete, data: { confirm: 'Tem certeza que deseja excluir?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Definir Checklist', new_checklist_path %>
