<p id="notice"><%= notice %></p>
<h1>Checklists</h1>

<div>
  <table class="table table-striped">
  <thead>
    <tr>
      <th class="col-md-3 col-md-offset-2">Identificação</th>
      <th class="col-md-3 col-md-offset-2">Fase</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @checklists.each do |checklist| %>
      <tr>
        <td class="col-md-4 col-md-offset-2"><%= checklist.identificacao %></td>
        <td class="col-md-4 col-md-offset-2"><%= checklist.fase %></td>

            <td><%= link_to "Visualizar", checklist, class: "btn btn-info" %></td>

        <% if current_user.sepg? %>
          <td><%= link_to 'Editar', edit_checklist_path(checklist), class: "btn btn-warning" %></td>
          <td><%= link_to 'Excluir', checklist, method: :delete, data: { confirm: 'Tem certeza que deseja excluir?' }, class: "btn btn-danger" %></td>
       <% end %>
        <% if current_user.qa? %>
            <td><%= link_to 'Aplicar', aplicacao_checklist_path(checklist), class: "btn btn-success", 'data-turbolinks' => false %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
  <%= link_to 'Definir Checklist', new_checklist_path, class: "btn btn-default form-control" if current_user.sepg? %>
</div>

