%p
  %strong Identificação:
  = @checklist.identificacao

%p
  %strong Fase:
  = @checklist.fase

%p
  - @itens.each do |item|
    = item.descricao

= link_to 'Editar', edit_checklist_path(@checklist)
|
= link_to 'Voltar', checklists_path
