<p id="notice"><%= notice %></p>

<p>
  <strong>Identificacao:</strong>
  <%= @checklist.identificacao %>
</p>

<p>
  <strong>Fase:</strong>
  <%= @checklist.fase %>
</p>
<p>
  <% @itens.each do |item| %>
  <%= item.descricao %>
  <% end %>
</p>
<%= link_to 'Edit', edit_checklist_path(@checklist) %> |
<%= link_to 'Back', checklists_path %>
